.form {
  box-sizing: border-box;
  width: 500px;
  margin: auto;
  border: 0.5px solid;
  margin-bottom: 15px;
}

form h1 {
  text-align: center;
  font-size: 1.5em;
}

/* Dom renderings */
article h1.concepts {
  margin-bottom: 0px;
}

article > p.dates {
  margin-top: 2px;
  margin-bottom: 5px;
  font-family: Times New Roman, Helvetica, sans-serif;
}
article > p.moods {
  margin-top: 5px;
  margin-bottom: 0;
  font-style: italic;
  font-weight: 500;
}

article {
  text-align: center;
  max-width: 50%;
  margin: auto;
}

/* Form components */
section div {
  padding: 10px;
  margin: 1px;
  display: flex;
  flex-direction: column;
}

div:last-of-type {
  border: 0;
  width: 30%;
}

textarea {
  resize: vertical;
}

#moodForTheDay {
  align-self: flex-start;
  justify-self: flex-end;
  max-width: 30%;
}

#journalDate {
  max-width: 30%;
}

/* Filtered search box */
fieldset {
  border: none;
  border: 0.5px black solid;
  width: 472px;
  margin: auto;
}

fieldset > div {
  display: flex;
  flex-flow: row;
}

fieldset > div > label {
  margin-right: 8px;
}

legend {
  margin: auto;
  font-weight: 700;
  font-size: 1.1em;
}

/* edit form */
#editForm {
  display: none;
  background-color: lightgray;
  border: 0.5px solid black;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
