body {
  box-sizing: border-box;
  width: 500px;
  border: 0.5px solid;
}

h1 {
  text-align: center;
}

section div {
  padding: 10px;
  margin: 1px;
  display: flex;
  flex-direction: column;
}

div:last-of-type {
  border: 0;
  width: 30%;
}

textarea {
  resize: vertical;
}

#moodForTheDay {
  align-self: flex-start;
  justify-self: flex-end;
  max-width: 30%;
}

#journalDate {
  max-width: 30%;
}
